* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(72, 73, 82);
  background: radial-gradient(
    circle,
    rgba(180, 182, 202, 0.687) 26%,
    rgba(11, 13, 97, 0.616) 84%
  );
}

h1 {
  text-align: center;
  padding: 20px 0px 20px 0px;
}
.formulario label,input {
  display: block;
  /* color: white; */
  margin: 10px auto 0px auto; 
  max-width: 60%;
  /* height: 2em; */
}
input{
    max-height: 2em;
}
label{
  color: white;
}

.formulario {
  max-width: 30%;
  height: 8em;
  max-height: max-content;
  background-color: rgb(11, 11, 82);
  margin: auto;
  border: 1px solid rgb(16, 37, 128);
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 10px;
  margin-bottom: 20px;
}

button {
  background-color: rgb(35, 35, 175);
  color: white;
  height: 35px;
  width: auto;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px 10px;
}
.botones {
 /* border: 1px solid black; */
 max-width: 60%;
 margin: auto;
 display: flex;
 justify-content: space-around;

}
.limpiar{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.limpiar button{
  max-width:  200px;
  height: auto;
  /* margin: auto; */
}

.resultado {
  width: 40%;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
footer {
  text-align: center;
  color: rgb(68, 64, 64);
  padding-bottom: 25px;
}
